/* Mengimpor Font Modern */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;800;900&family=Noto+Serif+JP:wght@700;900&display=swap');

body { 
    font-family: 'Plus Jakarta Sans', sans-serif; 
    scroll-behavior: smooth;
}

/* Font khusus aksara Jepang agar terlihat tradisional & elegan */
.font-jp { 
    font-family: 'Noto Serif JP', serif; 
}

/* Animasi transisi halus saat pindah halaman */
.fade-in { 
    animation: fadeIn 0.4s ease-out; 
}

@keyframes fadeIn { 
    from { 
        opacity: 0; 
        transform: translateY(10px); 
    } 
    to { 
        opacity: 1; 
        transform: translateY(0); 
    } 
}

/* Kustomisasi scrollbar */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #e2e2e2;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #E60012;
}